.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
}
.nav-flex {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.menu-icon {
  fill: white;
  &:hover {
    fill: red;
  }
}
