.left-nav {
  display: block;
  margin-bottom: 64px;
  .left-item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  .left-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    color: black;
    transition: all 250ms ease;
  }
  .left-link:hover {
    color: #ff6c00;
  }
}
