.team {
  padding: 84px 0;
  background: #f7f7f7;
}
.team-line {
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: #303030;
}
.team-line-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}
.team-title {
  margin-top: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;
}
.team-item {
  &:first-child {
    margin-top: 44px;
  }
  &:not(:last-child) {
    margin-bottom: 64px;
  }
  .name {
    margin-bottom: 8px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
  }
  .role {
    margin-bottom: 30px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #ff6c00;
  }
}
.team-image {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 16px auto 0 auto;
  list-style: none;
  width: 206px;
  li:not(:last-child) {
    margin-right: 10px;
  }
}
.actions .button {
  display: flex;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: black;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ff6c00;
  }
}
.button-icon {
  width: 20px;
  height: 20px;
  margin: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
