*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  background-color: white;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.line-flex {
  display: flex;
  align-items: center;
}
